@model _4Sale.Models.InvoiceContent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvoiceContent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Net)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Net)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-route-id="@ViewBag.InvoiceId">Back to List</a>
</div>
